<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Road+Rage&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

    body {
        background-color: #ffe1e1;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-container {
        background-color: #ebc0c0;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 5px 7px #5016163d;
    }

    h1 {
        font-family: 'Twinkle Star';
        color: #501616;
        font-weight: bold;
        text-align: center;
        margin-top: -40px;
    }

    .side-img {
        width: 500px;
        margin-left: 13px;
    }

    .inn-container {
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 200px;
        margin-top: -50px;
    }
    button{
        background-color: #501616;
        padding: 15px;
        border-radius: 30px;
        border: none;
        color: #ebc0c0;
        font-family: 'Poppins';
        margin:10px;
    }
    button:hover
    {
        background-color: #ebc0c0;
        color: #501616;
        border:#501616;
        border-style: solid;
        padding: 12px;
    }
    .buttons
    {
        display: flex;
        flex-direction: row;
    }
</style>

<body>
    <div class="main-container">
        <div class="inn-container">
            <img class="logo" src="/Resources/logo.png">
            <h1>Find Your Partners<br> Here</h1>
            <div class="buttons">
                <form action="/users/register">
                    <button>Signup</button>
                </form>
                <form action="/users/login">
                    <button>Login</button>
                </form>
            </div>
        </div>
        <img class="side-img" src="/Resources/welcome-cover.png">
    </div>
</body>